Raymark.APIWebServiceTest/Web References/Raymark.APIWebReference/ClientWebService.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://retaligent.com/Retaligent.APIWebServices/ClientWebService" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:s1="http://microsoft.com/wsdl/types/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://retaligent.com/Retaligent.APIWebServices/ClientWebService" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods related to adding and searching for clients.</wsdl:documentation>
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://retaligent.com/Retaligent.APIWebServices/ClientWebService">
      <s:import namespace="http://microsoft.com/wsdl/types/" />
      <s:element name="SearchClientsByPhoneNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="phoneNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortOrder" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchClientsByPhoneNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchClientsByPhoneNumberResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchClientsByAccountNumber">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="accountNumber" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortOrder" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchClientsByAccountNumberResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchClientsByAccountNumberResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchClients">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="lastName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="middleName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="firstName" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="address" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="city" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="stateRegion" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="postalCode" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="exactMatch" type="s:boolean" />
            <s:element minOccurs="0" maxOccurs="1" name="sortColumn" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="sortOrder" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="pageSize" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="pageIndex" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="minimumMatchScoreThreshold" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SearchClientsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SearchClientsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetails">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="getAddressesAndPhoneNumbers" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="getEmailAddresses" type="s:boolean" />
            <s:element minOccurs="1" maxOccurs="1" name="getEvents" type="s:boolean" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientDetailsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientDetailsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAddressesAndPhoneNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAddressesAndPhoneNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientAddressesAndPhoneNumbersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEmailAddresses">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEmailAddressesResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientEmailAddressesResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAccountNumbers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientAccountNumbersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientAccountNumbersResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEvents">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEventsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientEventsResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="xmlInput" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClientResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEmailAddressesForPOS">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetClientEmailAddressesForPOSResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetClientEmailAddressesForPOSResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailGuid" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="associateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateClientEmailAddressResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="UpdateClientEmailAddress2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="associateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="tns:EmailAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="EmailAddress">
        <s:complexContent mixed="false">
          <s:extension base="tns:RetaligentBaseClass">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Address" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="Description" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="TypeEmail" type="tns:TypeCode" />
              <s:element minOccurs="1" maxOccurs="1" name="EmailPermission" type="tns:EmailPermissionLevel" />
              <s:element minOccurs="1" maxOccurs="1" name="CanContact" type="s:boolean" />
              <s:element minOccurs="1" maxOccurs="1" name="IsPreferredEmail" type="s:boolean" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="RetaligentBaseClass" abstract="true">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="LastUpdated" type="s:dateTime" />
          <s:element minOccurs="1" maxOccurs="1" name="RowState" type="tns:RecordState" />
          <s:element minOccurs="1" maxOccurs="1" name="ID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="LastGuid" type="s:base64Binary" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="RecordState">
        <s:restriction base="s:string">
          <s:enumeration value="Unchanged" />
          <s:enumeration value="Inserted" />
          <s:enumeration value="Updated" />
          <s:enumeration value="Deleted" />
        </s:restriction>
      </s:simpleType>
      <s:complexType name="ListDataItem">
        <s:complexContent mixed="false">
          <s:extension base="tns:RetaligentBaseClass">
            <s:sequence>
              <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s1:guid" />
              <s:element minOccurs="0" maxOccurs="1" name="ItemDescription" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="TypeCode">
        <s:sequence>
          <s:element minOccurs="1" maxOccurs="1" name="TypeIDInt" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="TypeID" type="s1:guid" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeSpecifier" type="s:string" />
          <s:element minOccurs="0" maxOccurs="1" name="TypeDescription" type="s:string" />
          <s:element minOccurs="1" maxOccurs="1" name="TypePrecedence" type="s:int" />
          <s:element minOccurs="1" maxOccurs="1" name="RowState" type="tns:RecordState" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="Role">
        <s:complexContent mixed="false">
          <s:extension base="tns:TypeCode">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="Permissions" type="tns:ArrayOfTypeCode" />
              <s:element minOccurs="0" maxOccurs="1" name="TypeUser" type="tns:TypeCode" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleID" type="s:string" />
              <s:element minOccurs="0" maxOccurs="1" name="RoleIDInt" type="s:string" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfTypeCode">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="TypeCode" nillable="true" type="tns:TypeCode" />
        </s:sequence>
      </s:complexType>
      <s:complexType name="ListData">
        <s:complexContent mixed="false">
          <s:extension base="tns:TypeCode">
            <s:sequence>
              <s:element minOccurs="0" maxOccurs="1" name="ListItems" type="tns:ArrayOfListDataItem" />
            </s:sequence>
          </s:extension>
        </s:complexContent>
      </s:complexType>
      <s:complexType name="ArrayOfListDataItem">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="ListDataItem" nillable="true" type="tns:ListDataItem" />
        </s:sequence>
      </s:complexType>
      <s:simpleType name="EmailPermissionLevel">
        <s:restriction base="s:string">
          <s:enumeration value="None" />
          <s:enumeration value="Receipt" />
        </s:restriction>
      </s:simpleType>
      <s:element name="UpdateClientEmailAddress2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="UpdateClientEmailAddress2Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientEmailAddress">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="associateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientEmailAddressResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClientEmailAddressResult">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientEmailAddress2">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="clientID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="associateID" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="emailAddress" type="tns:EmailAddress" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AddClientEmailAddress2Response">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AddClientEmailAddress2Result">
              <s:complexType mixed="true">
                <s:sequence>
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
    <s:schema elementFormDefault="qualified" targetNamespace="http://microsoft.com/wsdl/types/">
      <s:simpleType name="guid">
        <s:restriction base="s:string">
          <s:pattern value="[0-9a-fA-F]{8}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{4}-[0-9a-fA-F]{12}" />
        </s:restriction>
      </s:simpleType>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="SearchClientsByPhoneNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SearchClientsByPhoneNumber" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByPhoneNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SearchClientsByPhoneNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberSoapIn">
    <wsdl:part name="parameters" element="tns:SearchClientsByAccountNumber" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberSoapOut">
    <wsdl:part name="parameters" element="tns:SearchClientsByAccountNumberResponse" />
  </wsdl:message>
  <wsdl:message name="SearchClientsSoapIn">
    <wsdl:part name="parameters" element="tns:SearchClients" />
  </wsdl:message>
  <wsdl:message name="SearchClientsSoapOut">
    <wsdl:part name="parameters" element="tns:SearchClientsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientDetails" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientDetailsResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientAddressesAndPhoneNumbers" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientAddressesAndPhoneNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientEmailAddresses" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientEmailAddressesResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientAccountNumbers" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientAccountNumbersResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientEvents" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientEventsResponse" />
  </wsdl:message>
  <wsdl:message name="AddClientSoapIn">
    <wsdl:part name="parameters" element="tns:AddClient" />
  </wsdl:message>
  <wsdl:message name="AddClientSoapOut">
    <wsdl:part name="parameters" element="tns:AddClientResponse" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSSoapIn">
    <wsdl:part name="parameters" element="tns:GetClientEmailAddressesForPOS" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSSoapOut">
    <wsdl:part name="parameters" element="tns:GetClientEmailAddressesForPOSResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClientEmailAddress" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClientEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddress2SoapIn">
    <wsdl:part name="parameters" element="tns:UpdateClientEmailAddress2" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddress2SoapOut">
    <wsdl:part name="parameters" element="tns:UpdateClientEmailAddress2Response" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressSoapIn">
    <wsdl:part name="parameters" element="tns:AddClientEmailAddress" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressSoapOut">
    <wsdl:part name="parameters" element="tns:AddClientEmailAddressResponse" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddress2SoapIn">
    <wsdl:part name="parameters" element="tns:AddClientEmailAddress2" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddress2SoapOut">
    <wsdl:part name="parameters" element="tns:AddClientEmailAddress2Response" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByPhoneNumberHttpGetIn">
    <wsdl:part name="phoneNumber" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByPhoneNumberHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberHttpGetIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchClientsHttpGetIn">
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="middleName" type="s:string" />
    <wsdl:part name="firstName" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="stateRegion" type="s:string" />
    <wsdl:part name="postalCode" type="s:string" />
    <wsdl:part name="exactMatch" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
    <wsdl:part name="minimumMatchScoreThreshold" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="getAddressesAndPhoneNumbers" type="s:string" />
    <wsdl:part name="getEmailAddresses" type="s:string" />
    <wsdl:part name="getEvents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddClientHttpGetIn">
    <wsdl:part name="xmlInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="emailGuid" type="s:string" />
    <wsdl:part name="associateID" type="s:string" />
    <wsdl:part name="emailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressHttpGetIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="associateID" type="s:string" />
    <wsdl:part name="emailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressHttpGetOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByPhoneNumberHttpPostIn">
    <wsdl:part name="phoneNumber" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByPhoneNumberHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberHttpPostIn">
    <wsdl:part name="accountNumber" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsByAccountNumberHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="SearchClientsHttpPostIn">
    <wsdl:part name="lastName" type="s:string" />
    <wsdl:part name="middleName" type="s:string" />
    <wsdl:part name="firstName" type="s:string" />
    <wsdl:part name="address" type="s:string" />
    <wsdl:part name="city" type="s:string" />
    <wsdl:part name="stateRegion" type="s:string" />
    <wsdl:part name="postalCode" type="s:string" />
    <wsdl:part name="exactMatch" type="s:string" />
    <wsdl:part name="sortColumn" type="s:string" />
    <wsdl:part name="sortOrder" type="s:string" />
    <wsdl:part name="pageSize" type="s:string" />
    <wsdl:part name="pageIndex" type="s:string" />
    <wsdl:part name="minimumMatchScoreThreshold" type="s:string" />
  </wsdl:message>
  <wsdl:message name="SearchClientsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="getAddressesAndPhoneNumbers" type="s:string" />
    <wsdl:part name="getEmailAddresses" type="s:string" />
    <wsdl:part name="getEvents" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientDetailsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientAddressesAndPhoneNumbersHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientAccountNumbersHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEventsHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddClientHttpPostIn">
    <wsdl:part name="xmlInput" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
  </wsdl:message>
  <wsdl:message name="GetClientEmailAddressesForPOSHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="emailGuid" type="s:string" />
    <wsdl:part name="associateID" type="s:string" />
    <wsdl:part name="emailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="UpdateClientEmailAddressHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressHttpPostIn">
    <wsdl:part name="clientID" type="s:string" />
    <wsdl:part name="associateID" type="s:string" />
    <wsdl:part name="emailAddress" type="s:string" />
  </wsdl:message>
  <wsdl:message name="AddClientEmailAddressHttpPostOut">
    <wsdl:part name="Body" />
  </wsdl:message>
  <wsdl:portType name="ClientWebServiceSoap">
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match a specified phone number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;phoneNumber (String):&lt;/b&gt; The complete or partial phone number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByPhoneNumberSoapIn" />
      <wsdl:output message="tns:SearchClientsByPhoneNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who exactly match a specified account number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;accountNumber (String):&lt;/b&gt; The complete account number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByAccountNumberSoapIn" />
      <wsdl:output message="tns:SearchClientsByAccountNumberSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match the specified search criteria.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;lastName (String):&lt;/b&gt; Complete or partial last name to search for.  Leave this field empty to search against all last names.
        &lt;br/&gt;&lt;b&gt;middleName (String):&lt;/b&gt; Complete or partial middle name to search for.  Leave this field empty to search against all middle names.
        &lt;br/&gt;&lt;b&gt;firstName (String):&lt;/b&gt; Complete or partial first name to search for.  Leave this field empty to search against all first names.
        &lt;br/&gt;&lt;b&gt;address (String):&lt;/b&gt; Complete or partial address to search for.  Leave this field empty to search against all addresses.
        &lt;br/&gt;&lt;b&gt;city (String):&lt;/b&gt; Complete or partial city to search for.  Leave this field empty to search against all cities.
        &lt;br/&gt;&lt;b&gt;stateRegion (String):&lt;/b&gt; Complete or partial state/region to search for.  Leave this field empty to search against all states/regions.
        &lt;br/&gt;&lt;b&gt;postalCode (String):&lt;/b&gt; Complete or partial postal code to search for.  Leave this field empty to search against all postal codes.
        &lt;br/&gt;&lt;b&gt;exactMatch (Boolean):&lt;/b&gt; &lt;b&gt;True&lt;/b&gt; to match all search parameters exactly, &lt;b&gt;False&lt;/b&gt; to perform a partial match.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.
        &lt;br/&gt;&lt;b&gt;minimumMatchScoreThreshold (Integer):&lt;/b&gt; Indicates that only clients with a match score of this value or above should be returned.  Must be a value between 0 and 100.  Passing in a value of 0 will return all clients regardless of match score.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsSoapIn" />
      <wsdl:output message="tns:SearchClientsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
        &lt;br/&gt;&lt;b&gt;getAddressesAndPhoneNumbers (Boolean):&lt;/b&gt; Indicates whether or not to return the client's addresses and phone numbers with the return set.
        &lt;br/&gt;&lt;b&gt;getEmailAddresses (Boolean):&lt;/b&gt; Indicates whether or not to return the client's email addresses with the return set.
        &lt;br/&gt;&lt;b&gt;getEvents (Boolean):&lt;/b&gt; Indicates whether or not to return the client's event collection with the return set.</wsdl:documentation>
      <wsdl:input message="tns:GetClientDetailsSoapIn" />
      <wsdl:output message="tns:GetClientDetailsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all addresses and phone numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAddressesAndPhoneNumbersSoapIn" />
      <wsdl:output message="tns:GetClientAddressesAndPhoneNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesSoapIn" />
      <wsdl:output message="tns:GetClientEmailAddressesSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all account numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAccountNumbersSoapIn" />
      <wsdl:output message="tns:GetClientAccountNumbersSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all events for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEventsSoapIn" />
      <wsdl:output message="tns:GetClientEventsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a new client to the system and creates an Enterprise level affiliation for the client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;xmlInput (XML String):&lt;/b&gt; An XML document containing information about the new client.  See the documentation for the XML schema for this parameter.</wsdl:documentation>
      <wsdl:input message="tns:AddClientSoapIn" />
      <wsdl:output message="tns:AddClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesForPOSSoapIn" />
      <wsdl:output message="tns:GetClientEmailAddressesForPOSSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates an email address.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;EmailGUID (String):&lt;/b&gt; The GUID of the Email address to update.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:UpdateClientEmailAddressSoapIn" />
      <wsdl:output message="tns:UpdateClientEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates an email address.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (EmailAddress):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:UpdateClientEmailAddress2SoapIn" />
      <wsdl:output message="tns:UpdateClientEmailAddress2SoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds an email address.  See the documentations for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:AddClientEmailAddressSoapIn" />
      <wsdl:output message="tns:AddClientEmailAddressSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress2">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds an email address.  See the documentations for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (EmailAddress):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:AddClientEmailAddress2SoapIn" />
      <wsdl:output message="tns:AddClientEmailAddress2SoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientWebServiceHttpGet">
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match a specified phone number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;phoneNumber (String):&lt;/b&gt; The complete or partial phone number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByPhoneNumberHttpGetIn" />
      <wsdl:output message="tns:SearchClientsByPhoneNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who exactly match a specified account number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;accountNumber (String):&lt;/b&gt; The complete account number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByAccountNumberHttpGetIn" />
      <wsdl:output message="tns:SearchClientsByAccountNumberHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match the specified search criteria.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;lastName (String):&lt;/b&gt; Complete or partial last name to search for.  Leave this field empty to search against all last names.
        &lt;br/&gt;&lt;b&gt;middleName (String):&lt;/b&gt; Complete or partial middle name to search for.  Leave this field empty to search against all middle names.
        &lt;br/&gt;&lt;b&gt;firstName (String):&lt;/b&gt; Complete or partial first name to search for.  Leave this field empty to search against all first names.
        &lt;br/&gt;&lt;b&gt;address (String):&lt;/b&gt; Complete or partial address to search for.  Leave this field empty to search against all addresses.
        &lt;br/&gt;&lt;b&gt;city (String):&lt;/b&gt; Complete or partial city to search for.  Leave this field empty to search against all cities.
        &lt;br/&gt;&lt;b&gt;stateRegion (String):&lt;/b&gt; Complete or partial state/region to search for.  Leave this field empty to search against all states/regions.
        &lt;br/&gt;&lt;b&gt;postalCode (String):&lt;/b&gt; Complete or partial postal code to search for.  Leave this field empty to search against all postal codes.
        &lt;br/&gt;&lt;b&gt;exactMatch (Boolean):&lt;/b&gt; &lt;b&gt;True&lt;/b&gt; to match all search parameters exactly, &lt;b&gt;False&lt;/b&gt; to perform a partial match.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.
        &lt;br/&gt;&lt;b&gt;minimumMatchScoreThreshold (Integer):&lt;/b&gt; Indicates that only clients with a match score of this value or above should be returned.  Must be a value between 0 and 100.  Passing in a value of 0 will return all clients regardless of match score.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsHttpGetIn" />
      <wsdl:output message="tns:SearchClientsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
        &lt;br/&gt;&lt;b&gt;getAddressesAndPhoneNumbers (Boolean):&lt;/b&gt; Indicates whether or not to return the client's addresses and phone numbers with the return set.
        &lt;br/&gt;&lt;b&gt;getEmailAddresses (Boolean):&lt;/b&gt; Indicates whether or not to return the client's email addresses with the return set.
        &lt;br/&gt;&lt;b&gt;getEvents (Boolean):&lt;/b&gt; Indicates whether or not to return the client's event collection with the return set.</wsdl:documentation>
      <wsdl:input message="tns:GetClientDetailsHttpGetIn" />
      <wsdl:output message="tns:GetClientDetailsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all addresses and phone numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAddressesAndPhoneNumbersHttpGetIn" />
      <wsdl:output message="tns:GetClientAddressesAndPhoneNumbersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesHttpGetIn" />
      <wsdl:output message="tns:GetClientEmailAddressesHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all account numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAccountNumbersHttpGetIn" />
      <wsdl:output message="tns:GetClientAccountNumbersHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all events for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEventsHttpGetIn" />
      <wsdl:output message="tns:GetClientEventsHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a new client to the system and creates an Enterprise level affiliation for the client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;xmlInput (XML String):&lt;/b&gt; An XML document containing information about the new client.  See the documentation for the XML schema for this parameter.</wsdl:documentation>
      <wsdl:input message="tns:AddClientHttpGetIn" />
      <wsdl:output message="tns:AddClientHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesForPOSHttpGetIn" />
      <wsdl:output message="tns:GetClientEmailAddressesForPOSHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates an email address.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;EmailGUID (String):&lt;/b&gt; The GUID of the Email address to update.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:UpdateClientEmailAddressHttpGetIn" />
      <wsdl:output message="tns:UpdateClientEmailAddressHttpGetOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds an email address.  See the documentations for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:AddClientEmailAddressHttpGetIn" />
      <wsdl:output message="tns:AddClientEmailAddressHttpGetOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:portType name="ClientWebServiceHttpPost">
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match a specified phone number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;phoneNumber (String):&lt;/b&gt; The complete or partial phone number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByPhoneNumberHttpPostIn" />
      <wsdl:output message="tns:SearchClientsByPhoneNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who exactly match a specified account number.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;accountNumber (String):&lt;/b&gt; The complete account number to search for.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsByAccountNumberHttpPostIn" />
      <wsdl:output message="tns:SearchClientsByAccountNumberHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns a set of clients who match the specified search criteria.  A maximum of 100 clients will be returned.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;lastName (String):&lt;/b&gt; Complete or partial last name to search for.  Leave this field empty to search against all last names.
        &lt;br/&gt;&lt;b&gt;middleName (String):&lt;/b&gt; Complete or partial middle name to search for.  Leave this field empty to search against all middle names.
        &lt;br/&gt;&lt;b&gt;firstName (String):&lt;/b&gt; Complete or partial first name to search for.  Leave this field empty to search against all first names.
        &lt;br/&gt;&lt;b&gt;address (String):&lt;/b&gt; Complete or partial address to search for.  Leave this field empty to search against all addresses.
        &lt;br/&gt;&lt;b&gt;city (String):&lt;/b&gt; Complete or partial city to search for.  Leave this field empty to search against all cities.
        &lt;br/&gt;&lt;b&gt;stateRegion (String):&lt;/b&gt; Complete or partial state/region to search for.  Leave this field empty to search against all states/regions.
        &lt;br/&gt;&lt;b&gt;postalCode (String):&lt;/b&gt; Complete or partial postal code to search for.  Leave this field empty to search against all postal codes.
        &lt;br/&gt;&lt;b&gt;exactMatch (Boolean):&lt;/b&gt; &lt;b&gt;True&lt;/b&gt; to match all search parameters exactly, &lt;b&gt;False&lt;/b&gt; to perform a partial match.
        &lt;br/&gt;&lt;b&gt;sortColumn (String):&lt;/b&gt; The desired sort column.  Valid options are &lt;b&gt;LastName&lt;/b&gt;, &lt;b&gt;FirstName&lt;/b&gt;, &lt;b&gt;MiddleName&lt;/b&gt;, &lt;b&gt;ClientID&lt;/b&gt;, &lt;b&gt;Address&lt;/b&gt;, &lt;b&gt;City&lt;/b&gt;, &lt;b&gt;Region&lt;/b&gt;, &lt;b&gt;PostalCode&lt;/b&gt; and &lt;b&gt;Country&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;sortOrder (String):&lt;/b&gt; Which direction to sort the specified column, either &lt;b&gt;Ascending&lt;/b&gt; or &lt;b&gt;Descending&lt;/b&gt;.
        &lt;br/&gt;&lt;b&gt;pageSize (Integer):&lt;/b&gt; The number of results to return per page.
        &lt;br/&gt;&lt;b&gt;pageIndex (Integer):&lt;/b&gt; The index of the desired page of results.
        &lt;br/&gt;&lt;b&gt;minimumMatchScoreThreshold (Integer):&lt;/b&gt; Indicates that only clients with a match score of this value or above should be returned.  Must be a value between 0 and 100.  Passing in a value of 0 will return all clients regardless of match score.</wsdl:documentation>
      <wsdl:input message="tns:SearchClientsHttpPostIn" />
      <wsdl:output message="tns:SearchClientsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns detailed information for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
        &lt;br/&gt;&lt;b&gt;getAddressesAndPhoneNumbers (Boolean):&lt;/b&gt; Indicates whether or not to return the client's addresses and phone numbers with the return set.
        &lt;br/&gt;&lt;b&gt;getEmailAddresses (Boolean):&lt;/b&gt; Indicates whether or not to return the client's email addresses with the return set.
        &lt;br/&gt;&lt;b&gt;getEvents (Boolean):&lt;/b&gt; Indicates whether or not to return the client's event collection with the return set.</wsdl:documentation>
      <wsdl:input message="tns:GetClientDetailsHttpPostIn" />
      <wsdl:output message="tns:GetClientDetailsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all addresses and phone numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAddressesAndPhoneNumbersHttpPostIn" />
      <wsdl:output message="tns:GetClientAddressesAndPhoneNumbersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesHttpPostIn" />
      <wsdl:output message="tns:GetClientEmailAddressesHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all account numbers for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientAccountNumbersHttpPostIn" />
      <wsdl:output message="tns:GetClientAccountNumbersHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all events for a specific client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEventsHttpPostIn" />
      <wsdl:output message="tns:GetClientEventsHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds a new client to the system and creates an Enterprise level affiliation for the client.  See the documentation for the XML format of the results.
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
        &lt;br/&gt;&lt;br/&gt;&lt;b&gt;xmlInput (XML String):&lt;/b&gt; An XML document containing information about the new client.  See the documentation for the XML schema for this parameter.</wsdl:documentation>
      <wsdl:input message="tns:AddClientHttpPostIn" />
      <wsdl:output message="tns:AddClientHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Returns all email addresses for a specific client.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.</wsdl:documentation>
      <wsdl:input message="tns:GetClientEmailAddressesForPOSHttpPostIn" />
      <wsdl:output message="tns:GetClientEmailAddressesForPOSHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Updates an email address.  See the documentation for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;EmailGUID (String):&lt;/b&gt; The GUID of the Email address to update.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:UpdateClientEmailAddressHttpPostIn" />
      <wsdl:output message="tns:UpdateClientEmailAddressHttpPostOut" />
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Adds an email address.  See the documentations for the XML format of the results.
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;Parameters:&lt;/b&gt;
            &lt;br/&gt;&lt;br/&gt;&lt;b&gt;clientID (String):&lt;/b&gt; The target Client ID.
            &lt;br/&gt;&lt;b&gt;AssociateID (String):&lt;/b&gt; The target Associate ID.
            &lt;br/&gt;&lt;b&gt;EmailAddress (String):&lt;/b&gt; The target Email Address to update.</wsdl:documentation>
      <wsdl:input message="tns:AddClientEmailAddressHttpPostIn" />
      <wsdl:output message="tns:AddClientEmailAddressHttpPostOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="ClientWebServiceSoap" type="tns:ClientWebServiceSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClientsByPhoneNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClientsByAccountNumber" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClients" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientDetails" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientAddressesAndPhoneNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEmailAddresses" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientAccountNumbers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEvents" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEmailAddressesForPOS" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/UpdateClientEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress2">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/UpdateClientEmailAddress2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClientEmailAddress" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress2">
      <soap:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClientEmailAddress2" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientWebServiceSoap12" type="tns:ClientWebServiceSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClientsByPhoneNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClientsByAccountNumber" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/SearchClients" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientDetails" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientAddressesAndPhoneNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEmailAddresses" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientAccountNumbers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEvents" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/GetClientEmailAddressesForPOS" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/UpdateClientEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress2">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/UpdateClientEmailAddress2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClientEmailAddress" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress2">
      <soap12:operation soapAction="http://retaligent.com/Retaligent.APIWebServices/ClientWebService/AddClientEmailAddress2" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientWebServiceHttpGet" type="tns:ClientWebServiceHttpGet">
    <http:binding verb="GET" />
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <http:operation location="/SearchClientsByPhoneNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <http:operation location="/SearchClientsByAccountNumber" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <http:operation location="/SearchClients" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <http:operation location="/GetClientDetails" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <http:operation location="/GetClientAddressesAndPhoneNumbers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <http:operation location="/GetClientEmailAddresses" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <http:operation location="/GetClientAccountNumbers" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <http:operation location="/GetClientEvents" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <http:operation location="/AddClient" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <http:operation location="/GetClientEmailAddressesForPOS" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <http:operation location="/UpdateClientEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <http:operation location="/AddClientEmailAddress" />
      <wsdl:input>
        <http:urlEncoded />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="ClientWebServiceHttpPost" type="tns:ClientWebServiceHttpPost">
    <http:binding verb="POST" />
    <wsdl:operation name="SearchClientsByPhoneNumber">
      <http:operation location="/SearchClientsByPhoneNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClientsByAccountNumber">
      <http:operation location="/SearchClientsByAccountNumber" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SearchClients">
      <http:operation location="/SearchClients" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientDetails">
      <http:operation location="/GetClientDetails" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAddressesAndPhoneNumbers">
      <http:operation location="/GetClientAddressesAndPhoneNumbers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddresses">
      <http:operation location="/GetClientEmailAddresses" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientAccountNumbers">
      <http:operation location="/GetClientAccountNumbers" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEvents">
      <http:operation location="/GetClientEvents" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClient">
      <http:operation location="/AddClient" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetClientEmailAddressesForPOS">
      <http:operation location="/GetClientEmailAddressesForPOS" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="UpdateClientEmailAddress">
      <http:operation location="/UpdateClientEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="AddClientEmailAddress">
      <http:operation location="/AddClientEmailAddress" />
      <wsdl:input>
        <mime:content type="application/x-www-form-urlencoded" />
      </wsdl:input>
      <wsdl:output>
        <mime:content part="Body" type="text/xml" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="ClientWebService">
    <wsdl:documentation xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">Contains methods related to adding and searching for clients.</wsdl:documentation>
    <wsdl:port name="ClientWebServiceSoap" binding="tns:ClientWebServiceSoap">
      <soap:address location="http://10.130.166.227:10001/CCA1APIWS/ClientWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientWebServiceSoap12" binding="tns:ClientWebServiceSoap12">
      <soap12:address location="http://10.130.166.227:10001/CCA1APIWS/ClientWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientWebServiceHttpGet" binding="tns:ClientWebServiceHttpGet">
      <http:address location="http://10.130.166.227:10001/CCA1APIWS/ClientWebService.asmx" />
    </wsdl:port>
    <wsdl:port name="ClientWebServiceHttpPost" binding="tns:ClientWebServiceHttpPost">
      <http:address location="http://10.130.166.227:10001/CCA1APIWS/ClientWebService.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>